@charset "utf-8";

/* Header and Top Nav Bar */
header {
    max-height: 100px;
    border: 1px solid black;
    width: 99%;
    margin: 5px auto;
    box-shadow: 0 0 5px yellow;
    position: sticky;
    top: 5px;
}

img {
    height: 60px;
    margin: 1px;
    width: 50%;
}

nav#topNavBar {
    height: 60px;
    box-shadow: none;
    border: none;
    width: 49.5%;
}

/* Section */
section {
    background-color: aliceblue;
    box-shadow: 1px 5px 5px;
    border: 1px solid snow;

    width: 96%;
    height: fit-content;
    margin: 10px auto;
    padding: 10px;
}

/* Bio */
/* Education */
/* Skillz */
/* Footer */
/*  */