@charset "utf-8";

/* Header and Top Nav Bar */
body img {
    width: 100%;
}

.top {
    position: sticky;
    top: 0;
}

nav#topNavBar {
    width: 100%;
    margin-top: -3px;
}

nav#topNavBar ul li {
    float: left;
    width: 16.666%;
    padding: 5px 0px;
    margin: 0;
    text-align: center;
    background: radial-gradient(rgb(255, 254, 238), rgb(252, 226, 51), rgb(250, 143, 37));
}

nav#topNavBar ul li:hover,
nav#topNavBar ul li:active {
    filter: invert(1);
    -webkit-filter: invert(1);
    box-shadow: 0px 0px 10px;
}

/* Bio */
/* Education */
/* Skillz */
/* Footer */
/*  */