@charset "utf-8";
/* Import fonts and Fonts styles */
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bangers|Bevan|Luckiest+Guy|Roboto');

p,
a {
    font-family: 'Roboto', sans-serif;
}

nav#topNavBar a button {
    font-family: 'Audiowide', cursive;
}

div.skills {
    font-family: 'Audiowide', cursive;
}

h1 {
    font-family: 'Bangers', cursive;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
}

h3 {
    font-family: 'Bevan', cursive;
}


/* Header and Top Nav Bar */
header {
    max-height: 100px;
    border: 1px solid black;
    width: 99%;
    margin: 5px auto;
    box-shadow: 0 0 5px yellow;
    position: sticky;
    top: 5px;
}

img {
    height: 60px;
    margin: 1px;
    width: 50%;
}

nav#topNavBar {
    height: 60px;
    box-shadow: none;
    border: none;
    width: 49.5%;
}

/* Section */
section {
    background-color: aliceblue;
    box-shadow: 1px 5px 5px;
    border: 1px solid snow;

    width: 96%;
    height: fit-content;
    margin: 10px auto;
    padding: 10px;
}

section#Ed h2 {
    border-top: 2px solid black;
    padding: 5px;
}

/* Bio */
/* Education */
/* Skillz */
.skillcon {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding: 10px;
    color: white;
}

#git {
    width: 95%;
    background-color: rgb(26, 159, 151);
}

#html {
    width: 90%;
    background-color: rgb(220, 118, 50);
}

#css {
    width: 85%;
    background-color: rgb(81, 154, 186);
}

#js {
    width: 25%;
    background-color: rgb(203, 203, 65);
}

#ps {
    width: 20%;
    background-color: rgb(34, 202, 253);
}

#pp {
    width: 10%;
    background-color: rgb(167, 119, 178);
}

/* Footer */
/*  */