@charset "utf-8";

/* responsive design, makes it so when the screen reaches a certan width the styles change. */
/*  
    =============================== 
    Tablet and Mobile Styles: 768px 
    ===============================
*/
@media (max-width: 768px) {

    /* Changes the width of the body and the sections. */
    body {
        width: 100%;
    }

    section {
        width: 90%;
    }

    /* Change the width of the image if my face. Clear both sides of the image and the content. */
    img#imgMyFace {
        width: 99%;
        clear: both;
    }

    div#amWords {
        clear: both;
    }

    /* Change the flex flow of the contact to have a column flow instead of a row flow. */
    div#contactCon {
        flex-flow: column;
        -webkit-flex-flow: column wrap;
    }
}

/*     
    =================================== 
    Top Nav Bar Styles: 1174px and less 
    ===================================
*/
@media (max-width: 1174px) {

    /* Changes the flex flow of the header to row, and changes the max height to fit content. The changed the width of the header image. Also made the nav bar have a flex flow of column, changed its width and height. */
    header {
        -webkit-flex-flow: row wrap;
        flex-flow: row;
        max-height: fit-content;
    }

    header img {
        width: 99%;
    }

    nav#topNavBar {
        flex-flow: column;
        -webkit-flex-flow: column wrap;

        height: fit-content;
        width: 99%
    }
}